body {
  font-family: "Encode Sans SC", sans-serif;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
}
.special_font {
  font-family: "Encode Sans SC", sans-serif;
}
.text-center {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
h1 {
  font-size: 50px;
}
h4 {
  font-weight: 700;
}
.navbar {
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px 30px;
  background-color: whitesmoke;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  float: right;
}
.navbar li {
  margin: 10px;
}

.title_name {
  display: inline-block;
}
.flexiable_area {
  display: flex;
}
.half-width {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2%;
}
.red {
  color: red;
}
.link_button {
  text-decoration: none;
  background-image: linear-gradient(rgb(255, 0, 191), red);
  padding: 10px 40px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
}
#top_section {
  background-color: whitesmoke;
}
#about_section {
  background-image: url(./images/frame.png);
  background-size: cover;
  background-repeat: no-repeat;
}
section {
  margin-bottom: 2%;
}
#diet_section .heading {
  width: 50%;
  margin: 0 auto;
}
.foodlist {
  margin-left: 5%;
  margin-right: 5%;
}
.food_item {
  width: 30%;
  margin-left: 3%;
  margin-right: 3%;
  padding: 15px;
  box-shadow: 7px 7px 40px rgb(197, 194, 194);
  border-radius: 30px;
}
.food_item img {
  width: 100%;
  border-radius: 30px;
  border: 1px solid gray;
}
.reach_list {
  margin-left: 7%;
  margin-right: 7%;
  box-shadow: 10px 10px 40px rgba(204, 204, 204, 0.637);
  border-radius: 30px;
 
 
}
.reach {
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  background-color: steelblue;
  color: white;
  padding-bottom: 3%;
}
footer img {
  float: right;
  width: 10%;
}
#service_section .flexiable_area .half-width img {
  float: right;
}
.half-width ul {
  list-style-type: square;
  padding: 10px;
}
.half-width ul li {
  font-weight: bold;
  font-size: 30px;
}
